<head>
<style>
h1
{
background: linear-gradient(rgba(255,0,0,1), rgba(255,0,0,0)); /*Standard*/
}
</style>
</head>
<h1>CcsfRails#about</h1>
<p>This is my about page for <code>Lab 8</code>!</p>
<p>It can show info about my lab.</p>
<p>Find me in app/views/ccsf_rails/about.html.erb</p>
