<head>
<style>
h1
{
background: linear-gradient(rgba(255,0,0,1), rgba(255,0,0,0)); /*Standard*/
}
</style>
</head>
<h1>CcsfRails#links</h1>
<a href='http://lab6-110610.usw1.nitrousbox.com//ccsf_rails/about'>About</a><br/>
<a href='http://lab6-110610.usw1.nitrousbox.com//ccsf_rails/index'>Index</a><br/>
<a href='http://lab6-110610.usw1.nitrousbox.com//users'>Users</a><br/>
<a href='http://lab6-110610.usw1.nitrousbox.com//microposts'>Microposts</a><br/>
<p>Find me in app/views/ccsf_rails/links.html.erb</p>
